<center>
<table>
  <h3><%= @estimate.customer.name %> 御中</h3>
</table>

<table>
  <tr>
    <th>製品名</th>
    <th>単価</th>
    <th>数量</th>
  </tr>
  </table>
<table>

<% sum = 0 %>
<% @estimate.products.each do | pro | %>
<tr>
  <td><%= pro.name %></td>
  <td><%= p = pro.unit_price %></td>
  <td>
    <%= q = @estimate.estimate_products.find_by(product_id: pro.id).quantity %>
  </td>
  <td>
    <%= p * q %>
  </td>
</tr>
<% sum += p * q %>
<% end %>
</table>

<table>
<p>納期: <%= @estimate.deadline %></p>
<p class="text-danger">値引: <%= @estimate.discount %></p>
<% if @estimate.discount == nil %>
  <p>金額: <%= sum %></p>
  <p>税込: <%= sum * 1.1 %></p>
<% else %>
  <p>金額: <%= sum-@estimate.discount %></p>
  <p>税込: <%= (sum-@estimate.discount)*1.1 %></p>
<% end %>
</table>


  <p>値引き理由</p>
  <!-- このreasons_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="reasons_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'reasons/index', locals: { reasons: @reasons, estimate: @estimate } %>
  </div>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'reasons/form', locals: { reason: @reason, estimate: @estimate } %>
  <%= link_to '見積書編集', edit_estimate_path(@estimate), class: "btn btn-outline-warning" %>

<div>
<%= link_to '見積書一覧画面に戻る', estimates_path %>
</div>
</center>
