<%= form_with(model: [estimate, reason]) do |form| %>
  <% if reason.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reason.errors.count, "error") %> prohibited this reason from being saved:</h2>
      <ul>
      <% reason.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.text_area :content, id: "reason_content_#{estimate.id}" %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
